doctype html
html
  head(lang="fr")
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        ul#topnav
            li: a#topnav(class=test, href="/", title=Accueil) PAGE D'ACCUEIL
            li: a#topnav(href="tableau_de_bord", title=Bord) TABLEAU DE BORD
            li: a#topnav(href="instructions", title=Instructions) PAGE D'INSTRUCTION

    block content
    
  footer
    p Margaux Debailleux - N°1864315
        br
        | Johan Nordholts - N°1864337
