extends stat_layout

block content

    section
        h1 Tableau de bord

        section
            h2 Test Rapide
            p Pour commencer un test rapide, c'est par 
                a(href="test_rapide1") ici
                | !

    section
        h2 Examen
        p Pour commencer un examen, veuillez remplir le formulaire ci-dessous :
        form(action="/examen1")
            label(for="theme") Theme :
            select(id="theme")
                option(value="html") HTML
                option(value="css") CSS
                option(value="javascript") JavaScript
            br
            label(for="nb_question") Nombre de question :
            input(
                  id="nb_question"
                  type="number"
                  min="1"
                  max="50"
                  stpe="1"
                  required
                  )
            input(
                  type="submit"
                  value="Démarrer"
                  )




